<h1>Detalles de la Oferta de Empleo</h1>
<div class="card text-bg-light mb-3 text-center" style="max-width: 18rem;", id="<%= dom_id offer %>">
  <div class="card-header"><%= offer.title %></div>
  <div class="card-body">
    <h5 class="card-title">Descripción y Requisitos:</h5>
    <p class="card-text"><%= offer.description %></p>
  </div>
</div>
